.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

body{

  color: black;
}

/* =================== NavBar ==================    */

.nav{
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  height: 100px;
  border-radius: 4px;
}



.logoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.loginContainer h1 {
  padding: 0px;
  margin: 0px;
  font-weight: 700;

}
.navContainer{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  
}
.navContainer p {
  margin: 0;
}

.navContainer button{
  border:none;
  color: rgb(29, 29, 29);
  padding: 5px 10px;
  font-weight: 600;
}

.navContainer a{
  font-weight: 600;
  color:white;
  text-decoration: none;
}


.navMain{
  background-color: rgb(0, 88, 189);
  padding: 20px;
}


.profileButtonContainer button{
  display: flex;
  margin: 20px 0px;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color:black;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

.logoutContainer button{
  display: flex;
  margin: 20px 0px;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color:white;
  border: none;
}
.usertaskHeaderContainer{
  width: 100%;
  display: flex;
  align-items: center;
 justify-content: 'center';
 flex-direction: column;
}
.userItemsContainer p {
  text-align: center;
  margin: 20px 0px;
  padding: 0px;
}


/* =================== SignIn Page & Login  ==================    */
.siginContainer , .loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin-top: 100px;
}
.siginContainer h1 {
  margin-bottom: 40px;
  font-weight: 600;
}

.signUpBottomContainer , .loginBottomContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}

.signUpBottomContainer p , .loginBottomContainer p {
  padding: 0;
  margin: 0;
}

form button{
  background-color: rgb(0, 88, 189);
  color:white;
  border: none;
  padding: 5px 0px;
  border-radius: 4px;
  position: relative;
}


.loginForm , .signUpForm{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;

  gap: 20px;
}

.signUpBottomContainer a , .loginBottomContainer a{
  color: rgb(0, 88, 189);
  text-decoration: none;
  font-weight: 600;
}

i{
  color:#000;
  font-size: 80px;
}

.errorText{
  color:red;
  background-color: pink;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  font-weight: 600;
}



/* =================== Tasks Input Container ================== */

.dashBoardContainer{
  max-width: 600px;
  margin: 100px auto;
}

.userTasksContainer{
  margin-top: 10px;
  background-color: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column-reverse;
}

.taskContainer{

  padding: 0;

}
.task-item p {
  font-weight: 600;
  margin: 0;
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);


  border-radius: 4px;
  padding: 20px;
}

.removeBtn{
  background-color: transparent;
  color: red;
  font-size: 20px;
  border: none;
}

.taskButtonContainer{
  display: flex;
  gap: 20px;
}


.mainDashboard .addTaskBtn {
  color: white;
  font-weight: 600;
  background-color: rgb(0, 88, 189);
  border: none;
  font-size: 14px;
  padding: 10px;

}

.taskContainer form {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0px;
  border-radius: 4px;
  gap: 20px;
}



.profileContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
}


.profileContainer button{
  background-color: red;
  border:none;
  color: white;
  border-radius: 4px;
}






.userItemsContainer{
  color: rgb(33, 33, 33);
}

.userItemsContainer{
  max-width: 600px;
  border-radius: 4px;
  padding: 0;

}

.userItemsContainer p {
  font-weight: 600;
  font-size: 20px;
  width: fit-content;
  margin: 20px auto;

}